
header{
    background-color: black;
}

.navbar-L{background-color:rgb(247, 7, 7)!important;}
.mynavbar{width: 324px!important;}
.navbar-M{background-color:rgb(241, 237, 8)!important; text-align: center;}
.navbar-R{background-color:rgb(8, 250, 198)!important;}
.navbar-M img {

    width: 60px;
    height: 50px;
}

.main-ul li{
    display: inline-block;
}


.col-5{
/* background-color:green; */
text-align:center;

}
.col-2{
    /* background-color: yellow; */
    
}