@font-face {
    font-family: public sans-b;
    src: url(/fonts/PublicSans-Bold.woff2);
  }
  @font-face {
    font-family: public sans-r;
    src: url(fonts/PublicSans-Regular.woff2);
  }
  @font-face {
    font-family: dm-mono;
    src: url(fonts/dm-mono.woff2);}



.header{
    background-color: black!important;
    height: 86px!important;
    padding-top: 10px!important;
    color: white!important;
   
    
}

.nasanav{
background-color:black ;
width: 10%!important;
margin-left: 47%!important;
position: absolute;
margin-top: 10px;

}
.dropdown-menu, .nav-link{
    background-color: black!important;

}
.live-btn{
    height: 25px!important;
    padding-top: 0px!important;
   
}




.dropdown-menu{
    background-color: black!important;

}
.dropdown-item, .nav-link{
    color:rgb(220, 216, 216)!important;
    
}

.dropdown-item{
    border-bottom: 1px dashed red!important;}

    .form-control{
        
        border:1px solid rgb(139, 139, 139)!important;
       
        /* color:1px solid rgb(139, 139, 139)!important ; */


    }
    .theme-slider{
        background-image: url(images/nasa-imges36.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px!important;
        height: 600px;
        width: 100%;
        
        
    }
    .theme-div{
        background: linear-gradient(65.99deg, #000 0, transparent 99.04%) !important;
        width: 100%!important;
        height: 100%!important;
        margin: 0px!important;
    }
    .theme-left{
        color: #ffffff;
        padding-top:150px;
    }
  



    .theme-card{
        box-sizing: border-box;
        border-top: 1px solid white;
        height: 100px;
        margin-top: 150px;
        color: #ffffff;
        line-height:.1em;
        padding-top: 20px;


    }

    .dirlink a, .span {
        
        text-decoration: none;
        color: #ffffff;
        
    }
    .arrow i{
        background-color: rgb(255, 255, 255);
        color: rgb(251, 250, 250);
        padding:8px 8px 6px;
        border-radius: 30px;
        margin-left: 10PX;
        background-color: red;
        transform: rotate(-37deg);}
    
    
    .arrow i:hover{
            background-color:rgb(130, 1, 1);
    }
    .section-B{
        width: 90%;
        margin: 0px auto!important;
        margin-top: 70px!important;
    }


    .card-A{
        height: 400px;
        /* margin-bottom: 16px; */
      }
      .card-S{
        height: 190px;
      }
      
      .cardbox{
        position: relative;
        height: 100%;
        width: 100%;
      }
      .cardbox img{
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      
      
      .cardbox-content {
        background: linear-gradient(65.99deg, #000 0, transparent 99.04%) !important;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        /* background-color: transparent; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        padding: 24px;
      }

      .cardbox-content a {
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
        
      }
      
      .cardbox-4{
        margin-bottom: 20px;
      }

      .section-C{
        width: 90%;
        margin: 0px auto!important;
        margin-top: 70px!important;
        
    }
    .circleline{
      display: flex;
      margin-bottom: 20px;
      
    }

    .circlebox{
      
      height: 170px;
      width: 250px;
      display: flex;
      align-items: center;
      
    }
    .circlebox img {
      border-radius: 50%;
      height: 90px;
      width: 90px;
           
    }

    .cir-text{
      padding-left: 10px;
      
    }

    .cir-text span{
      font-size: 10px;
    }

    .cir-text a {
      text-decoration: none;
      color: #000;
      font-size: 12px;
      
    }

    .section-D{
      height: 500PX;
      background-color: rgb(1, 15, 10);
    }
    .mid-slider{
      color: #ffffff;
      padding:50px
    }

    .section-D{
      height: 500PX;
      
    }

    .mid-slider2{
      color: #000000;
      padding:50px;
      padding-top:100px;
    }

    .mid-frame2 img{
      object-fit:cover!important;
      width:100%;
      height:100%;
        
     
    }

    .section-F{
      background-image:url(/images/color-back1.webp);
      background-size: cover;
      height:600px;
      margin-top: 50px;
    }
      

     

    
   
    
    
    






   
       
   
    


   

    
    
   
